:root {
  --primary-color: #ffc107;
  --secondary-color: #ffdd57;
  --dark-bg: #343a40;
  --light-color: #ffffff;
  --text-color: #121212;
  --shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  --border-radius: 12px;
  --footer-bg-gradient: linear-gradient(to right, #343a40, #495057);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
 padding-top:120px;
}

.content-container {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 3rem;
}

.intro {
  text-align: center;
  margin-bottom: 3rem;
}

.welcome-title {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.intro-text {
  font-size: 1.2rem;
  color: #666;
}

.features-grid {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 3rem;
}

.feature-card {
  flex: 1;
  background-color: var(--dark-bg);
  color: var(--light-color);
  border-radius: 20px; /* Augmenter pour un effet très arrondi */
  border: 3px solid #eeb108; /* Nouvelle bordure avec la couleur désirée */
  box-shadow: var(--shadow); /* Conserver l'effet d'ombre existant */
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;

  /* Animation légère de la bordure au survol */
  &:hover {
    transform: translateY(-5px);
    background-color: #eeb108;
    border-color: var(--secondary-color); /* Illustre une transition subtile */
  }
}


.icon-wrapper {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.feature-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.feature-description {
  font-size: 0.9rem;
  color: var(--light-color);
}

.cta {
  text-align: center;
}

.cta .btn-primary {
  background-color:#ffc107 ; /* Couleur de fond */
  color: var(--text-color); /* Couleur du texte, noir par défaut */
  border: 2px solid #343a40; /* Bordure jaune */
  padding: 1rem 2.5rem; /* Plus grand bouton */
  font-size: 1.1rem; /* Taille du texte */
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer; /* Curseur interactif */
  transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease;


  &:hover {
    background-color: #ffdd57;
    border-color: #ffc107;
    transform: scale(1.05);
  }
}


.footer {
  background: var(--footer-bg-gradient);
  color: var(--light-color);
  text-align: center;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.footer .social-icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer .social-icons a {
  color: var(--light-color);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer .social-icons a:hover {
  color: var(--secondary-color);
}
