.search-form {
  display: flex;
  flex-direction: column;

}


.filter-options {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    color: #333;
    font-size: 1rem;
  }

  select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e1e6f0;
    background-color: white;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    &:hover {
      border-color: #0056b3;
    }
  }
}


.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px; /* Espacement entre la checkbox et le bouton */
}

button[type="button"] {
  margin-top: 10px; /* Facultatif, si tu veux ajuster l'espacement du bouton par rapport à son voisin */
}


.date-range-fields,
.date-fields {
  display: flex;
  align-items: center;
  gap: 15px; /* Espace entre les éléments */
}

.checkbox-container {
  justify-content: space-between;
}

.checkbox-container input[type='checkbox'] {
  transform: scale(1.2);
  cursor: pointer;
}

.checkbox-container label,
.date-range-fields label,
.date-fields label {
  font-weight: bold;
  color: #333;
  font-size: 1rem;
}

.date-range-fields,
.date-fields {
  justify-content: space-between;
}

.date-range-fields div,
.date-fields div {
  flex: 1;
}

input[type='date'] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e1e6f0;
  width: 100%;
}

input[type='date']:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button[type="submit"],
button[type="button"] {
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="button"] {
  background-color: #0056b3;
  color: white;
}

button[type="button"]:hover {
  background-color: #007bff;
}
